@font-face { font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}
@font-face { font-family: "Lato-Semibold";
    src: url("../fonts/Lato-Semibold.ttf");
}
@font-face { font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

html, body {
  font-family: "Lato-Regular";
  background: #FFFFFF;
  color: #404040;
  height: 100%;
  margin: 0;
}

h2 {
  color: #404040;
  font-size: 20px;
  margin-top: 90px;
}

.centerText{
  text-align: center;
}

p {
  max-width: 280px;
}

.column{
  float: left;
  width: 200px;
  padding: 5px;
}

/****************************************
***************SIDEBAR*******************
****************************************/

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  margin-left: 10px;
}

#logo {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left:-5px;
  padding: 6px 8px 6px 16px;
  width: 140px;
  height: auto;
  display: block;
}

#logo img{
  width: 100%;
  height: auto;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  font-size: 16px;
  text-decoration: none;
  color: #404040;
  font-family: "Lato-Regular";
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  background-color: #E8E8E8;
  cursor: pointer;
}

.sidebar a.active {
  background-color: #DBDBDB;
}

/* Style the main content */
main {
  margin-left: 170px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  float: left;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size)*/
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* The switch - the box around the slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F86754;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}

textarea {
  width: 280px;
  height: 100px;
}

select {
  width: 280px;
}

#AddToList {
  display: none;
}

#Lists {
  display: none;
}

#Settings {
  display: none;
}

#LearnMore {
  display: none;
}

.item{
  background: #FAFAFA;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}


#list-items{
  overflow: scroll;
  padding: 5px;
  padding-top: 15px;
  width: 90%;
  height: 100px;
}

.delete-btn{
  background-color:#F86754;
  color:white;
  border-radius:5px;
  border: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

button.delete-btn:hover{
  background-color:#F63B22;
}

.file-btn{
  width: 25px;
  height: 25px;
  border-radius:5px;
  border: 0px;
  cursor: pointer;
  vertical-align:middle;
  background-color: #E8E8E8;
}

button.file-btn:hover{
  cursor: pointer;
  background-color: lightgrey;
}

.folder-btn{
  color:white;
  border-radius:5px;
  border: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

button.list-btn{
  width: 200px;
  height: 25px;
  cursor: pointer;
  border: 0px;
  border-radius:2px;
  background-color:#E8E8E8;
}

button.list-btn:hover{
  background-color: #a3a3a3;
}

.list-btn.active{
  background-color: #c7c7c7;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icon{
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align:middle;
  background-color: #E8E8E8;
  border-radius: 3px;
  border: 3px;
  border-color: black;
}

.icon:hover{
  cursor: pointer;
  background-color: lightgrey;
}

#folderPath{
  width: 255px;
  height: 25px;
  cursor: text;
  border: 0px;
  border-radius:2px;
  background-color:#E8E8E8;
}

.greenBtn{
  background-color:#92c353;
  color:white;
  padding: 5px;
  border-radius:5px;
  border: 0px;
  width: 140px;
  height: 25px;
  cursor: pointer;
}

.greenBtn:hover{
  background-color: #759c43;
}

.redBtn{
  background-color:#F86754;
  color:white;
  padding: 5px;
  border-radius:5px;
  border: 0px;
  width: 140px;
  height: 25px;
  cursor: pointer;
}

.redBtn:hover{
  background-color:#F63B22;
}

.inputNumber{
  width:190px;
}

#folderPath{
  width: 200px;
}

.sidebarIcon{
  width: 15px;
  height: auto;
  vertical-align:middle;
  color: red;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#openGitHubPage {
  color: blue;
  cursor: pointer;
}

.marginTop {
  margin-top: 30px;
}
